.items {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.isFeatured,
.description,
.images,
.files {
  margin-bottom: 2rem;
}

.property_offerings {
  grid-column: span 2;
}

.property_offerings p {
  margin-bottom: 0.5rem;
}

.offerings {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.75rem;
}

.offering {
  display: flex;
  align-items: center;
}

.offering label {
  font-size: 14px;
}

.item label,
.description label {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.isFeatured label,
.offering input {
  margin-right: 0.5rem;
}

.item input {
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.images {
  display: flex;
  gap: 1rem;
}

.image {
  position: relative;
}

.image img {
  width: 10rem;
  height: auto;
  border-radius: 0.5rem;
}

.image button {
  cursor: pointer;
  position: absolute;
  bottom: 12px;
  left: 50%;
  font-size: 14px;
  translate: -50% 0;
  color: var(--white);
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 2rem;
  background-color: red;
}

.files {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.files label {
  margin-bottom: 0.5rem;
}
