.items {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.isFeatured,
.description {
  margin-bottom: 2rem;
}

.name label,
.price label,
.beds label,
.baths label,
.guests label,
.ratings label,
.description label {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.isFeatured label {
  margin-right: 0.5rem;
}

.name input,
.price input,
.beds input,
.baths input,
.guests input,
.ratings input {
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
