.title,
.content,
.file {
  margin-bottom: 2rem;
}

.title label,
.content label {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.title input {
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.file {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.file label {
  margin-bottom: 0.5rem;
}
